# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
venv/
env/
ENV/

# Dataset large files (optional if very big)
*.csv
*.zip

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log
